.container{
	padding: min(5em, 8%);
	width: 400px;
	background-color: rgb(5, 42, 74);
	box-shadow: 0 3px 10px rgba(207, 27, 27, 0.05);
	border-radius: 1em;
}

@media(max-width: 700px){
	.container{
		padding: 2em;

	}


@media(max-width: 600px){
	.container{
		padding: 2em;

	}


	
@media(max-width: 500px){
	.container{
		padding: 2em;

	}


@media(max-width: 700px){
	.container{
		padding: 2em;

	}
}	
}
}

}