.container{
	padding: min(5em, 8%);
	width: 400px;
	background-color: rgb(145, 234, 169);
	box-shadow: 0 3px 10px rgba(207, 27, 27, 0.05);
	border-radius: 1em;
}

h1a{
	font-size: clamp(1.8rem, 10vw, 5rem) ;
}

h1{
	font-size: clamp(1.8rem, calc(7vw + 1rem), 5rem);
}


@media(max-width: 700px){
	.container{
		padding: 2em;

	}


@media(max-width: 600px){
	.container{
		padding: 2em;

	}


	
@media(max-width: 500px){
	.container{
		padding: 2em;

	}


@media(max-width: 400px){
	.container{
		padding: 2em;

	}
}	
}
}

}