*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.element{
	height: 100vh;
	padding: 2em;
	background: #df5757;
	color: #fff;
	border: 15px solid blue;
}

nav{
	display: none;
}

nav.show{
	display: block;
}